.home {
  color: white;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  /* border: 1px solid red; */
}
.home .left {
  /* border: 1px solid yellow;  */
  width: 800px;
  height: 500px;
  padding: 30px;
}
.home .left h1 span {
  color: #ff014f;
}
.home .left h1 {
  font-size: 70px;
}
.right {
  /* border: 1px solid pink; */
}

/* //button css */
.btn {
  color: rgb(255, 52, 108);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgb(255, 52, 108);
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: rgb(255, 52, 108);
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}

.imgcon img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid yellow;
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes superman {
  0% {
    border-color: rgb(226, 85, 104);
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 25px rgb(236, 72, 179);
  }

  25% {
    border-color: rgb(210, 212, 94);
    box-shadow: 10px 10px 100px 25px rgb(202, 204, 93);
  }

  50% {
    border-color: rgb(91, 226, 91);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 25px rgb(79, 235, 133);
  }

  75% {
    border-color: rgb(130, 217, 160);
    box-shadow: 10px 10px 100px 25px rgb(130, 217, 160);
  }

  100% {
    border-color: rgb(63, 210, 229);
    transform: translate(0, -0px);
    box-shadow: 10px 10px 100px 25px rgb(76, 201, 232);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home .left {
    width: 100%;
  }
  .home {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .left h1 {
    font-size: 65px;
  }
  .imgcon img {
    height: 500px;
    width: 500px;
    margin-left: 73px;
    margin-top: -200px;
  }
}
.heading {
  text-align: center;
  color: white;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .home {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    /* align-items: flex-start; */
    align-content: space-between;
    justify-content: center;
  }
  .home .left {
    margin-top: 30px;
    width: 100%;

    padding: 0px;
    min-height: 400px;
  }
  .home .left h1 {
    font-size: 37px;
    width: 100%;
  }
  .heading {
    margin-top: 135px;
  }
  .imgcon img {
    margin-top: 80px;
    height: 300px;
    width: 300px;
  }
}

/* previous code */
/* .homecontainer{
    display: flex;
    /* overflow-x: hidden; */

/* padding-left: 10px;
    flex-wrap: wrap;
} */

/* .leftside h1{
    height: 250px;
    font-size: 5em;
}
.leftside h1 span{
    color: #ff014f;
}
.leftside{
    color: aliceblue;
    padding-top: 10%;
    padding-left: 8%;
    /* border: 1px solid green; */
/* word-wrap: break-word;
}

.octagon {
    width: 500px; 
    height: 500px; 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  } */

/* .image-container {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/image.jpg'); 
    
    background-size: contain;
    background-position: center;
  } */
